# Node modules
node_modules/

# Build output
dist/
buzzblast.zip

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# OS files
.DS_Store
Thumbs.db

# Env files
.env
.env.*

# VSCode
.vscode/

# Mac system files
Icon?

# Misc
*.swp
*.swo
